# Віртуальнае асяроддзе і кэш
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# 1. Базы дадзеных
# Каб не заліць лакальную БД з цяжкімі дадзенымі
#*.db
#*.sqlite3
#db/

# 2. Тэчка з вынікамі працы праграмы
# Графікі і справаздачы звычайна ствараюцца лакальна
#output/

# 3. Лакальныя налады VS Code
# Каб не дзяліцца сваёй гісторыяй пошуку ці лакальнымі шляхамі інтэрпрэтатара
.vscode/
.history/